<!DOCTYPE html>
<h1>INDEX</h1>
<a href="{% url 'website:user' %}">user</a>
<form enctype="multipart/form-data" action="{% url 'website:index' %}", method="post" name="candidate_form" onsubmit="return validateForm()" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table border="1">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit">Send</input>
</form>