{% load static %}
<h1>INDEX</h1>
<ul>
    {% for candidate in candidate_list %}
    <li>
        {{ candidate.full_name }}, {{ candidate.email }}, {{ candidate.datetime }}
    </li>
    {% endfor %}
</ul>

<form enctype="multipart/form-data" action="{% url 'website:send' %}", method="post" name="candidate_form" onsubmit="return validateForm()" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table border="1">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" value="send">
</form>
<script src="{% static "website/script.js" %}"></script>